*{
    margin: 0;
    padding: 0;
}
#container
{
    margin:0 15px;
}
#header{
    /* background-color: blue; */
    text-align: center;
    width: 100%;
    height: 80px;
    padding-top: 20px;
}
#box1{
    /* background-color: yellow; */
    width: 32%;
    height:300px ;
    float: left;
    margin-top: 5px;
}
#box1 img
{
    height: 300px;
    width: 100%;
}
#box2 img
{
    height: 300px;
    width: 100%;
}
#box3 img
{
    height: 300px;
    width: 100%;
}
#box2{
    /* background-color:rgb(27, 30, 187); */
    width: 32%;
    height:300px ;
    float: left;
    margin: 0 2%;
    margin-top: 5px;
}
#box3{
    /* background-color: rgb(175, 16, 90); */
    width: 32%;
    height:300px ;
    float: right ;
    margin-top: 5px;
}
@media only screen and (max-width: 680px) {
    .container
    {
        margin:0;
        padding:0;
    }
    #box1
    {
        width: 100%;
        height: 200px;
        flex:wrap;

    }
    #box2
    {
        width: 100%;
        height: 200px;
        flex:wrap;
        

    }
    #box3
    {
        width: 100%;
        height: 200px;
        flex:wrap;
       
    }
  }
